.chat-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.chat-bubble:hover {
  background-color: #0056b3;
}

.robot-chat-icon {
  width: 1.2em; /* Made smaller */
  height: 1.2em; /* Made smaller */
  fill: white; /* Fill white */
  border: none; /* Ensure no outline */
  margin-top: -2px;
}

.close-chat-icon {
  width: 1.5em; /* Adjust size as needed for SVG */
  height: 1.5em; /* Adjust size as needed for SVG */
  fill: white;
  font-size: 0.45em;
}

/* Pulsing animation for the chat bubble when closed */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.chat-bubble:not(.open) {
  animation: pulse 0.5s ease-in-out 2;
  animation-delay: 15s;
  animation-iteration-count: 1;
}

/* Dark mode styles */
[data-theme='dark'] .chat-bubble {
  background-color: #3e6aff;
}

[data-theme='dark'] .chat-bubble:hover {
  background-color: #2d5ae0;
} 