.chat-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.chat-bubble:hover {
  background-color: #0056b3;
}

.robot-chat-icon {
  width: 1.2em; /* Made smaller */
  height: 1.2em; /* Made smaller */
  fill: white; /* Fill white */
  border: none; /* Ensure no outline */
}

.close-chat-icon {
  width: 1.5em; /* Adjust size as needed for SVG */
  height: 1.5em; /* Adjust size as needed for SVG */
  fill: white;
  font-size: 0.45em;
} 